/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Configuration for Travis CI automated testing
 * -------------------------------------------------
 */


params {
  genome = 'GRCh37'
  genome_base = '/Volumes/Cambridge/Reference/Sarek/'
  max_cpus = 12
  max_memory = 30.GB
  max_time = 5.h
}

process {
  cpus = params.max_cpus
  memory = params.max_memory
}
